extends ../layout

block body

    h1 Editing article

    - if( typeof error !== 'undefined' )
        pre= error.reason + '\n' + error.details

    form(action="/article/update/" + article.id, method="POST")

        p
            label(for="text") Title
            br
            input(
                type="text"
                name="title"
                placeholder="Please add a title."
                value=article.title
                )

        p
            label(for="text") Text
            br
            textarea(
                name="text"
                placeholder="Please add some text to the article."
                value=article.text
                )

        button(type="submit") Submit

    a(href="/articles") Back