extends ../layout

block body

	form(action="/article", method="POST")

		p
			label(for="text") Title
			br
			input(
				type="text"
				name="title"
				placeholder="Please add a title."
				)

		p
			label(for="text") Text
			br
			textarea(
				name="text"
				placeholder="Please add some text to the article."
				)

		button(type="submit") Submit

	a(href="/articles") Back
