extends ../layout

block body
	p
		strong Title:
		= article.title
	p
		strong Text:
		= article.text

	h2 Comments

	each comment in article.comments
		p
			strong Commenter:
			= comment.commenter
		p
			strong Comment:
			= comment.body


	h2 Add a comment:

	form(action="/comment", method="POST")
		input(
			type="hidden"
			name="commentedArticle"
			value=article.id
			)
		p
			label(for="commenter") Commenter
			br
			input(
				type="text"
				name="commenter"
				placeholder="What is your name?"
				)
		p
			label(for="body") Body
			br
			textarea(
				name="body"
				placeholder="Enter a comment on this article"
				)
		p
			button(type="submit") Submit

	a(href="/articles") Back |

	a(href="/article/edit/"+article.id)  Edit